<ion-view view-title="Dashboard">
  <ion-content class="padding" has-heade="true" has-subheader="true">
    <div class="list card">
      <div class="item item-divider">Recent Updates</div>
      <div class="item item-body">
        <div>
          There is a fire in <b>sector 3</b>
        </div>
      </div>
    </div>
    <div class="list">
      <div class="item item-divider">Today</div>
      <div class="item"> 
          <h2>
          shift
          </h2>
          <p>
            08:00 AM - 06:00 PM
          </p>
      </div>
      <div class="item">
        <h2 class=assertive>
        You have not checked in today
        </h2>
      </div>
    </div>
    
  </ion-content>
</ion-view>
